// _sass/custom/setup.scss

$puzzlepart-1: #C286FF;
$puzzlepart-2: #3A0960;
$puzzlepart-3: #EFF86C;
$puzzlepart-4: #133748;

$link-color: $puzzlepart-2;
$sidebar-color: $puzzlepart-4;
$nav-child-link-color: $white;